#searchbar {
    float         : center;
    margin-left   : 15%;
    padding       : 15px;
    border-radius : 10px;
}

body {
    background-color : #c7f3bc;
}

input[type=text] {
    width : 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

li {
    margin-bottom : 30px;
}


/* When the input field gets focus,
   change its width to 100% */
input[type=text]:focus {
    width : 70%;
}

#list {
    column-count    : 2;
    font-size       : 1.5em;
    margin-left     : 90px;
    list-style-type :none;
}

.video {
    display: list-item;
}

header  {
    position         : absolute;
    top              : 0;
    left             : 0;
  	width            : 100%;
  	display          : inline-block;
  	background-color : #4b4f53;
}

footer {
    position         : absolute;
    bottom           : 100%;
    left             : 100%;
    width            : 100%;
    display          : inline-block;
    background-color : #4b4f53;
  
}

img{
  margin-top:1px;
  padding-left:20px;
}

input{
    position: absolute;
    top:50px;
    right:300px;
}
 